includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - ./
    excludePaths:
        - ./art
        - ./builds
        - ./resources
        - ./storage
        - ./vendor
    level: 5
    checkGenericClassInNonGenericObjectType: false
